.div{
        
        display:grid;
        grid-template-columns: 220px 139px 120px;
        row-gap: 10px;
        margin-top:10px;
        align-items:center; 
      }
      .p{
        font-family:Arial;
        

      }
      .input1{
        padding:8px 8px;
        font-size:15px;
        
      } 
      .input2{
        padding:7px 5px 7px 5px;
        font-size:15px;
        margin-left:10px;

      }
     
      .add{
        width:90px;
        height:37px;
        background-color: rgb(8, 138, 8);
        border:none;
        color:white;
        font-size:15px;
        margin-left:10px;
        cursor:pointer;
      }
      .delete1{
        width:90px;
        height:37px;
        background-color: rgb(169, 9, 9);
        border:none;
        color:white;
        font-size:15px;
        margin-left:10px;
        cursor:pointer;
      }